/****************************************Styles for all devices***************************************/
body {
  background-color:#353230;
}
.header {
  width:100%;
  height:58px;
  background-color: #C35A01;
  margin-bottom: 10px;
}
.logo {
  float: right;
}
.title {
  color: #C35A01;
}
.outerDiv {
  margin-top: 20px;
}
.labels {
  float: left;
  clear: both;
  color: #f58220;
  position: absolute;
  padding: 27px 5px 5px 5px;
}
.infoWindow {
  color: red;
  font-weight: bold;
}
.directionBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.directionBtn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.directionBtn:hover span {
  padding-right: 25px;
}
.directionBtn:hover span:after {
  opacity: 1;
  right: 0;
}
.innerDiv:last-child {
  border-bottom: none;
}

/**********************Styles for mobile devices with screen size less than 375px*******************/
@media only screen and (max-width: 375px) {
  #map {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .innerDiv {
    padding: 20px;
    clear: both;
    height: 80px;
    border-bottom: 1px solid #FFF;
  }
  .address {
    color: #FFFFFF;
    margin-top: 7px;
    word-spacing: 2px;
    padding-left: 10px;
  }
  .directions {
    float: left;
    padding-left: 10px;
  }
  .directionBtn {
    border-radius: 4px;
    background-color: #f58220;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 7px;
    box-shadow: 2px 2px #999;
  }
}

/**********************Styles for mobile devices with screen size greater than 375px*******************/
@media only screen and (min-width : 375px) {
  #map {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }
  .innerDiv {
    padding: 20px 10px 20px 20px;
    clear: both;
    height: 40px;
    border-bottom: 1px solid #FFF;
  }
  .address {
    float: left;
    color: #FFFFFF;
    margin-top: 7px;
    word-spacing: 2px;
    font-size: 14px;
    padding-left: 10px;
  }
  .directions {
    float: right;
  }
  .directionBtn {
    border-radius: 4px;
    background-color: #f58220;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px #999;
  }
}
